.photographer-card {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    width: 240px;
    height: 300px;

    img {
      border-radius: 50%;
      width: 140px;
      height: 140px;
      margin: 0 auto 10px;
      background-color: lavenderblush;
    }
  }